<HTML>
<head>
    <title>Friend game</title>
    <link rel = "stylesheet" type = "text/css" href = "/assets/style.css"/>
</head>
<body>

<div class = "links">

    <% if (typeof(user) != "undefined" && user != null){ %>
        <p>Hello, <%= user.name %></p>
        <a href = "/logout">Log Out</a>
    <% } %>

    <% if (typeof(user) == "undefined" || user == null){ %>
        <a href= "/login">Log In</a>
    <% } %>

    
    <a href= "/newplayer">New Player</a>
    <a href= "/allplayers">All Players</a>
    
</div>

<span class = "error">
    <% if(typeof(error) != "undefined"){ %>
        <%= error %>
    <% }%>
</span>

<span class = "message">
    <% if(typeof(message) != "undefined"){ %>
        <%= message %>
    <% }%>
</span>

<hr>
   
