<% include partials/_header.ejs %>

    <p class = "test">Hello world!</p>
   
    <button id = "adder">Add item</button>

    <button id = "finder">Find an owl</button>

    <div class = "items">
        <br>
    </div>



<% include partials/_footer.ejs %>
