<% include partials/_header.ejs %>

    <p class = "test">Hello world!</p>
   

    <p>Item: <input type = "text" id = "item"></p>
    <br>
    <div class = "result"> </div>
    <br>

    <button id = "adder">Add </button>

    <button id = "finder">Find</button>

    

    <div class = "items">
        <br>
    </div>



<% include partials/_footer.ejs %>
