<% include partials/_header.ejs %>

    <p class = "test">Hello world!</p>
   

    <p>Item to find: <input type = "text" id = "item-type"></p>
    <br>
    <div class = "result"> </div>
    <br>

    <button id = "adder">Add item</button>

    <button id = "finder">Find this</button>

    

    <div class = "items">
        <br>
    </div>



<% include partials/_footer.ejs %>
