<% include partials/_header.ejs %>

<p>hello world!</p>
<p>Time left till logout: <span id = "time-left">Logged out</span></p>



<% include partials/_footer.ejs %>

<!-- <script src = "/getTimeToLogout.js"></script> -->

