<% include partials/_header.ejs %>

<h2>Login</h2>

<form action = "/login" method = "post">
    Name: 
    <br>
    <input type="text" name="name" class="name" autofocus></input>
    <br>
    <br>
    <input type = "submit" id = "login-submit"></input>
</form>



<% include partials/_footer.ejs %>
