<% include partials/_header.ejs %>


<h2>Create new player</h2>

<form action = "/newplayer" method = "post">
    Name: 
    <br>
    <input type="text" name="name" id="player-name" autofocus></input>
    <br>
    <br>
    Capital name: 
    <br>
    <input type= "text" name = "capital" id="player-capital"></input>
    <br>
    <br>
    <input type = "submit" id = "new-player-submit"></input>
</form>


<% include partials/_footer.ejs %>
