.alert {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 20%;

}

.result{
    color: blue;
}

.message{
    color: blue;
}

.query {
    font-weight: bold;
}

.welcome{
    display: inline;
}

.links a{
    display: inline;
}

.error {
    color: red;
}

.navigation{
    float: left;
} 
.account{

    float: right;
}